<div class="middleContent">
			<!--<div class="searchBar"><input type="text" class="form-control" id="search"  placeholder="search bid" x-webkit-speech=""/></div>-->
			<ul class="mainBidListing">
				<li><a href="#/ET"><img src="image/ET.png" alt="" width="150"/></a></li>
				<li><a href="#/TOI"><img src="image/toi.jpg" alt="" width="150"/></a></li>
				<li><a href="#/HT"><img src="image/ht.png" alt="" width="150"/></a></li>
				<li><a href="#/BBC"><img src="image/bbc.png" alt="" width="150"/></a></li>
				<li><a href="#/DG"><img src="image/dg.png" alt="" width="150"/></a></li>
				<li><a href="#/CNN"><img src="image/cnn.png" alt="" width="150"/></a></li>
				
			</ul>
			<div class="clr"></div>
		</div>