<div class="middleContent" style="background: url('image/share_background.jpg');width: 100%;height: 100%;background-size: cover;">
<div class="table-responsive">
  <table class="table">
    <tr align="center">
		<td><img src="image/pinterest.png" width="200px" height="100px"></td>
		<td><img src="image/whatsppl.png" width="100px" height="100px"></td>
	</tr>
	<tr align="center">
		<td><img src="image/Fb.png" width="100px" height="100px"></td>
		<td><img src="image/Twitter.png" width="100px" height="100px"></td>
	</tr>
  </table>
</div>
</div>